# 阿里云OSS配置
OSS_BUCKET_NAME=your-bucket-name
OSS_ACCESS_KEY_ID=your-access-key-id
OSS_ACCESS_KEY_SECRET=your-access-key-secret
OSS_ENDPOINT=oss-cn-{region}-internal.aliyuncs.com

# WebDAV相关环境变量
WEBDAV_SERVER_NAME=your.webdav.server.name.com
WEBDAV_USERNAME=your-webdav-username
WEBDAV_PASSWORD=your-strong-password

# SSL相关配置
SSL_ENABLED=true  # 设置为 true 启用 SSL，false 禁用 SSL

# 时区设置
TZ=Asia/Shanghai
